* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header, main, footer{
    overflow: hidden;
}

.navbar{
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

/* Logo */
.nav-logo{
    height: 50px;
    width: 100px;
}

.border-logo{
    border: 2px solid transparent;
}

.border-logo:hover{
    border: 1.5px solid white;
}

/* Hoover Effects */
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    padding: 5px;
}

.logo{
    background-image: url("Pictures/Amazon_Logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

/* Address Element */
.add-icon{
    display: flex;
    align-items: center;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;;
}

/* Search Element */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    max-width: 700px;
    border-radius: 5px;
}

.nav-search:hover{
    border: 2px solid #febd68;
}

.search-select{
    background-color:#f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd68;
    color: #0f1111;
    width: 45px;
    font-size: 1.2rem;
}

/* Sign In Element */
span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Cart Element */
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: left;
}

.panel-all{
    margin-left: 15px;
    font-weight: 550;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 85%;
    font-size: 0.85rem;
}

/* Main */
.main-image{
    background-image: url("Pictures/Main_Image.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
}

/* Message */
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
    height: 40px;
    font-size: 0.85rem;
    position: relative;
    top: 70%;
    margin-left: 25px;
    margin-right: 25px;
}

.msg a{
    color:#007185;
    text-decoration: none;
}

/* Shop Section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(237, 237, 213);
}

.box{
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    height: 400px;
    width: 23%;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

.box-content a{
    text-decoration: none;
}

.box-image{
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 300px;
}

/* Footer */
footer{
    margin-top: 15px;
}

/* Panel Layout */

/* Panel 1 */
.panel-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    font-size: 0.85rem;
    color: white;
    height: 50px;
}

/* Panel 2 */
.panel-2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 300px;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}

/* Panel 3 */
.panel-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
}

.logo{
    background-image: url("Pictures/Amazon_Logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* Panel 4 */
.panel-4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.pages a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.copyright{
    padding-top: 5px;
}

/* Responsive Styles */

@media screen and (max-width: 3840px){
    .nav-search{
        width: 2200px;
    }
    .box-image{
        height: 400px;
    }
    .box{
        height: 500px;
    }
}

@media screen and (max-width: 2650px){
    .nav-search{
        width: 2000px;
    }
    .box-image{
        height: 400px;
    }
    .box{
        height: 500px;
    }
}

@media screen and (max-width: 1024px){
    .nav-search{
        width: 500px;
    }
    .box-image{
        height: 300px;
    }
    .box{
        height: 400px;
    }  
}

@media screen and (max-width: 768px){
    .navbar{
        /* height: 50px; 
        width: 50px; */
    }

    .nav-logo {
        /* height: 20px;
        width: 50px; */
    }

    .logo{
        /* height: 20px;
        width: 50px; */
    }
    
    .nav-address{
        /* height: 20px; */
    }
    .nav-search{
        /* width: 200px; */
    }
    .box-image{
        /* height: 200px; */
    }
    .box{
        /* flex-wrap: wrap;
        height: 320px;
        width: 25%; */
    }
}